.card{
    width: 300px;
    padding: 10px;
    min-height: 340px;
    border: 2px solid black;
    text-align: center;
    height: auto;
}

button{
    padding: 6px;
    margin: 10px;
    background-color: yellow;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

